*{
    margin:0;
    padding:0;
}
html,body{height:100%;}
.geral{
    min-height: height 100%;
    position: relative;
    width:800px;
}
 
    nav {
        width: 100%;
height: 50px;
font-size: 150%;
background-color: blue;
 height:50px;
 line-height:50px;
}	
article{
	background:white;
	height:230%;
	font-family:haleway;
	font-family: arial;
	font-size:20px;
}
	
}
body{
	position:relative;
    height:200px;
}
a {
    text-decoration:none;
    color: cornsilk
}
footer{
	position: absolute;;
	bottom: 0;
	background-color: blue;
	color: #FFF;
	width: 100%;
	height: 60px;    
	text-align: center;
	line-height: 60px;
	font-size: 150%; 
   bottom: 0px;
}